#content {
        /* border: 1px solid red; */

        width: 100%;
        height: 2000px;
      }

      #slider-1 {
        /* border: 1px solid blue; */

        width: 100%;
        height: 450px;

        position: relative;

        overflow: hidden;
      }

      #slider-1 > #gal {
        /* border: 1px solid red; */
        transition: 1s;

        width: 800%;
        height: 100%;

        position: relative;
        left: 0;
      }

      #slider-1 > #gal > div {
        /* border: 1px solid red; */

        height: 100%;
        width: 12.5%;

        float: right;
      }

      #slider-1 > #gal > div > img {
        width: 100%;
        height: 100%;
      }

      #slider-1 > #right_1{
        transition: 0.5s;
        opacity: 0;
        visibility: hidden;

        /* border: 1px solid red; */

        width: 40px;
        height: 40px;

        /* background-color: red; */

        cursor: pointer;

        position: absolute;
        right: 0px;
        top: 220px;
      }

      #slider-1 > #right_1 > img{
        width: 100%;
        height: 100%;
      }

      #slider-1:hover > #right_1{
        visibility: visible;
        opacity: 0.8;
        right: 20px;
      }

      #slider-1 > #right_1:hover{
        opacity: 1;
        width: 45px;
        height: 45px;
      }

      #slider-1 > #left_1{
        transition: 0.5s;
        opacity: 0;
        visibility: hidden;
        
        /* border: 1px solid red; */

        width: 40px;
        height: 40px;


        /* background-color: red; */

        cursor: pointer;

        position: absolute;
        left: 0px;
        top: 220px;
        
      }

      #slider-1 > #left_1 > img{
        width: 100%;
        height: 100%;
      }

      #slider-1:hover > #left_1{
        visibility: visible;
        opacity: 0.8;
        left: 20px;
        
      }

      #slider-1 > #left_1:hover{
        opacity: 1;
        width: 45px;
        height: 45px;
      }







      #slider-1 > .bott{
        /* border: 1px solid red; */

        transition: 0.5s;

        width: 10px;
        height: 10px;

        border-radius: 100px;

        background-color: black;

        float: left;

        cursor: pointer;

        margin-right: 5px;

        position: relative;
        bottom: 45px;
        left: 1120px;
      }

    #slider-1 > #bott_1{
        background-color: black;
        border-radius: 100px;
        width: 10px;
    }

    #slider-1 > #bott_1_selected{
        width: 30px;

        border-radius: 20px;

        background-color: red;
    }

    #slider-1 > #bott_2{
        background-color: black;
        border-radius: 100px;
        width: 10px;
    }

    #slider-1 > #bott_2_selected{
        width: 30px;

        border-radius: 20px;

        background-color: red;
    }

    #slider-1 > #bott_3{
        background-color: black;
        border-radius: 100px;
        width: 10px;
    }

    #slider-1 > #bott_3_selected{
        width: 30px;

        border-radius: 20px;

        background-color: red;
    }

    #slider-1 > #bott_4_selected{
        width: 30px;

        border-radius: 20px;

        background-color: red;
    }

    #slider-1 > #bott_5_selected{
        width: 30px;

        border-radius: 20px;

        background-color: red;
    }

    #slider-1 > #bott_6_selected{
        width: 30px;

        border-radius: 20px;

        background-color: red;
    }

    #slider-1 > #bott_7_selected{
        width: 30px;

        border-radius: 20px;

        background-color: red;
    }

    #slider-1 > #bott_8_selected{
        width: 30px;

        border-radius: 20px;

        background-color: red;
    }





      
